<header class="main-header">
  <nav class="nav">
    <ul class="item-list">
      <li class="items">
        <a href="/" class="<%= path === '/'? 'active': '' %>">Home</a>
      </li>
      <li class="items">
        <a href="/posts/new" class="<%= path === '/posts/new'? 'active': '' %>">
          Add Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
